body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", sans-serif;
    border-width: 20px;
    border-style: solid;
    border-color: mediumorchid;
    text-align: center;
}

a {
    color: red;
    text-decoration: none;
}

.header {
    font-size: 68px;
    margin-top: 50px;
    font-weight: normal;
}

.message {
    font-style: italic;
    font-size: 36px;
    color: darkorchid;
    margin-top: 50px;
}

.link {
    border-radius: 30px;
    height: 40px;
    width: 335px;
    background-color: darkorchid;
    color: white;
    margin: 0 auto;
    padding-top: 15px;
    margin-bottom: 50px;
}